torch
torchaudio
transformers
datasets==3.1.0
pandas==2.2.3
numpy==1.26.4
accelerate
scipy
streamlit
moviepy
streamlit_mic_recorder
librosa
setuptools>=65
nltk
fastapi
uvicorn
requests
pydantic
ffmpeg-python
pyannote.audio
huggingface-hub
